/***************************************************************
CSS for all JSP pages
***************************************************************/
body {
	margin: 0;
	box-sizing: border-box;
}


.header, .footer, .content {
	border: 0 solid;
	padding: 10px 0;
}

/***************************************************************
Header style
***************************************************************/
.header {
	background: #AAAAFF;
	padding: 0;
	margin-bottom: 15px;
}

/***************************************************************
Footer style
***************************************************************/
.footer {
	text-align: center;
	background: #AAAAFF;
	margin-top: 15px;
	height: 50px;
}

/***************************************************************
Content style
***************************************************************/
.content {
	min-height: calc(100vh - 130px);
	margin: 10px 0;
}

/***************************************************************
Catalog Style
***************************************************************/

.publication-item {
	margin: 10px 0;
}

.publication-filter-params {
	margin: 10px 0;
}

.publication-filter-param {
	margin: 0 10px;
}

